{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block conteudo %}

<div class="container">
    <div class="row">
        <div class="centro col-sm-12">
            <div class="d-flex justify-content-end" style="margin-top: 5px;">
                <a href="{% url 'home' %}" class="btn-close"></a>
            </div>
            <div class="table-principal">
                <div class="alert titulo" role="alert">
                    <h3><strong>{% if object %}Alterar lançamento de caixa{% else %}Incluir lançamento de caixa{% endif %}</strong></h3>
                </div>
                {% include 'parciais/mensagens.html' %}
                <div class="borda-centro">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">{% if object %}Salvar Alteração{% else %}Salvar Lançamento{% endif %}</button>
                        <a href="{% url 'gestao_caixa' %}" class="btn btn-secondary">Voltar Pagina Anterior</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}