{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="centro col-sm-12">
      <div class="table-principal">
        <div class="alert titulo" role="alert">
          <H3><strong>Rotinas Periodicas</strong></h3>
        </div>
        {% include 'parciais/mensagens.html' %}

        <a href="{% url 'home' %}" class="btn btn-secondary ">Voltar pagina inicial</a>
        <!-- ================== CRIA REGISTROS DE MENSALIDADES PARA SOCIOS ================================== -->
        <div class="borda-centro">
          <strong class="texto-topo-rotina-periodica">CRIA REGISTROS DE MENSALIDADES PARA SOCIOS.</strong>
          <p class="texto-topo-rotina-periodica"> Executar esta rotina no inicio do ano, ou sempre que um associado novo
            for cadastrado.</p>
          <br>
          <form method="post" action="{% url 'rotina_periodica' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Executar Rotina</button>
          </form>
        </div>
        <br>
        <!-- ====================== CONSOLIDA LANÇAMENTOS DE CAIXA ========================================= -->
        <div class="borda-centro">
          <strong class="texto-topo-rotina-periodica"> CONSOLIDA LANÇAMENTOS DE CAIXA.</strong>
          <p class="texto-topo-rotina-periodica"> Depois de executada esta rotina os lançamentos não poderão mais ser
            alterados ou excluidos. </p>
          <form method="post" action="{% url 'consolidar_registros' %}">
            {% csrf_token %}
            {{ form1.as_p }}
            <br>
            <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Executar Rotina</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}