{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block conteudo %}
{% block topo %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" />
{% endblock %}
<div class="container" >
    <div class="row justify-content-end">
        <a href="{% url 'home' %}" class="btn-close position-absolute top-0 end-0 mt-2 me-2" style="width: 3px; height: 3px;"></a>
    </div>
    <br>
    <div class="alert titulo" role="alert" style="padding-top: 8px;">
        <h3><strong> Login </strong></h3>
    </div>
    <div class="borda-centro">
        <form method="post">
            {% csrf_token %}
            <div class="campo">
                <label>Usuário:</label>
                <input type="text" name="username"><br><br>
            </div>
            <div class="campo">
                <label>Senha:</label>
                <input type="password" name="password"><br><br>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <p>Não é cadastrado? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
    </div>
</div>
{% endblock %}