html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
  height: 100%;
}

:root {
  --branco: #FFFFFF;
  --laranja-aws: #e67435;
  --vermelho-247: #ef3f44;
  --laranja-247a: #f83d02;
  --azul-247a: #215181;
  --azul-247b: #2a66a3;
  --azul-247c: #008ddb;
  --bordas: #fa911f;
  --cor-fundo: #ecebea;
  --letra-titulo: #386641;
  --fundo-titulo: #fef3e5;
  --letra-table: #386641;
  --fundo-table: #fffcf4;
}

.text-primary {
  color: #712cf9 !important;
}

td {
  height: 15px !important;
  margin: 1px !important;
  padding: 3px 5px 5px 5px !important;
}

th {
  background: #fef3e5 !important;
}

a {
  height: 25px !important;
  margin: 1px !important;
  padding: 1px 5px 1px 5px !important;
}

.container {
  margin-top: 2.5%;
}

.table-principal {
  height: auto;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 4%;
  border: 1px solid var(--bordas);
  border-radius: 8px;
  padding: 20px 10px 20px 10px;
}

.centro {
  background: var(--cor-fundo);
  height: auto;
  border: 1px solid var(--bordas);
}


table,
tabela {
  height: 25px !important;
  margin: 0px !important;
  border: solid 0.5px var(--bordas) !important;
  padding: 10px !important;
}

div#tabela {
  overflow-x: auto;
 
}

.tab-content {
  background: var(--cor-fundo);
}

.btn-primary {
  /*incluir*/
  background-color:#007bff !important;
  border-color: #007bff !important;
  height: 30px !important;
  margin: 8px !important;
  padding: 2px 18px 2px 18px !important;
}

.btn-success {
  /*Salvar*/
  background-color:#28a745 !important;
  border-color: #28a745!important;
  height: 30px !important;
  margin: 8px !important;
  padding: 2px 25px 2px 25px !important;
  font-size: 14px !important;
}

.btn-secondary {
  /*Cancelar*/
  background-color:#6c757d !important;
  border-color: #6c757d!important;
  height: 30px !important;
  margin: 8px !important;
  padding: 2px 15px 2px 15px !important;
  font-size: 14px !important;
}

.btn-warning {
   /*Alterar*/
  background-color:var(--laranja-aws) !important;
  border-color: var(--laranja-aws)!important;
  color: var(--branco)!important;
  height: 20px !important;
  margin: 4px !important;
  padding: 0px 15px 0px 15px !important;
  font-size: 12px !important;
}

.btn-danger {
  /*excluir*/
  background-color: var(--laranja-247a)!important;
  border-color: var(--laranja-247a)!important;
  height: 20px !important;
  margin: 4px !important;
  padding: 0px 15px 0px 15px !important;
  font-size: 12px !important;
}

.btn-dark {
  background-color:var(--azul-247c) !important;
  border-color: var(--azul-247c) !important;
  height: 25px !important;
  margin: 8px !important;
  padding: 0px 15px 0px 15px !important;
  font-size: 14px !important;
}

.img-logo {
  width: 70px;
  height: 35px;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.img-fundo {
  background-image: url("../img/quadra11.jpeg");
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
  margin: 0;
  padding: 0;
  height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

.titulo {
  font-size: 20px;
  border: solid 0.5px var(--bordas);
  background-color: var(--fundo-titulo);
  color: var(--letra-titulo);
  text-align: center;
  padding: 8px;
}

.navbar {
  background-color: var(--azul-247b) !important;
  height: 6%;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid var(--bordas);
  border-radius: 8px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
}

@media only screen and (max-width: 991.98px) {
  .navbar {
    height: 5%;
  }

  .img-logo {
    width: 190px;
    height: 35px;
  }

  .table-principal {
    margin-top: 7%;
  }
}

.borda-centro {
  margin: 1px;
  border: 1px solid var(--bordas);
  border-radius: 8px;
  padding:10px;
}

.texto-topo{
  color: var(--azul-247c);
  margin: 0%;
  font-size: 25px;
}

.texto-topo-rotina-periodica{
  color: var(--laranja-aws);
  margin: 0%;
  font-size: 20px;
}

