<!-- Exibição das mensagens -->

<style>
  .mensagem-css {
    position: fixed; /* Fixa na tela */
    top: 10.5%; /* Distância do topo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para centralizar corretamente */
   
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999; /* Número alto para ficar acima de tudo */
    width: 50%; /* Define uma largura maior */
    max-width: 600px; /* Limita a largura máxima para não ficar exagerado em telas grandes */
  }
  .alert-custom {
    padding: 1rem 1rem; /* Reduz o padding */
    font-size: 0.9rem; /* Reduz o tamanho da fonte */
    line-height: 1.2; /* Ajusta o espaçamento entre as linhas */
    margin-top: 0.5rem;
    margin-bottom: 0.1rem; /* Reduz a margem inferior */
    border-radius: 0.25rem; /* Ajusta o arredondamento das bordas */
  }
</style>

{% if messages %}
  <div class="mensagem-css">
    {% for message in messages %}
      <div id="erro" class="alert {{ message.tags }} alert-custom alert-dismissible fade show " role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="$('#erro').hide()"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}

<script>
  setTimeout(function () {
    document.getElementById('erro').style.display = 'none'
  }, 2000)
</script>
