{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="centro col-sm-12">
            <div class="table-principal">
                <div class="alert titulo" role="alert">
                    <H3><strong>Inclusão de Socios</strong></h3>
                </div>
                <div class="borda-centro">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            {# {{ form.as_p }} #}
                            {{ form.nome|as_crispy_field }}
                            {{ form.endereco|as_crispy_field }}
                            {{ form.cidade|as_crispy_field }}
                            {{ form.estado|as_crispy_field }}
                            {{ form.cep|as_crispy_field }}
                            {{ form.foto|as_crispy_field }}
                            <div>
                                <button type="submit" class="btn btn-success">Salvar</button>
                                <a href="{% url 'gestao_socios' %}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            {{ form.email|as_crispy_field }}
                            {{ form.telefone|as_crispy_field }}
                            {{ form.cpf|as_crispy_field }}
                            {{ form.rg|as_crispy_field }}
                            {{ form.data_nascimento|as_crispy_field }}
                            {{ form.data_admisao|as_crispy_field }}
                            {{ form.tipo_socio|as_crispy_field }}
                            {{ form.ativo|as_crispy_field }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>


{% endblock %}