{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="centro col-sm-12">
            <div class="table-principal">
                <div class="alert titulo" role="alert">
                    <H3><strong>Edita o dependentes</strong></h3>
                </div>
                <div class="borda-centro">
                    <H3 class="texto-topo"> Socio:&nbsp;&nbsp; {{ dependente.socio }} </H3>
                    <hr>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Salvar Alterações</button>
                        <a href="{% url 'gestao_dependentes' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}