{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="centro col-sm-12">
            <div class="table-principal">
                <div class="alert titulo" role="alert">
                    <H3><strong>Exclusão de Sócio.</strong></h3>
                </div>
               
                <div class="borda-centro">
                    <strong class ="texto-topo"> Sócio:&nbsp;&nbsp; {{ socio.nome }} </strong>
                    <hr>
                    <h6><strong>Tem certeza que deseja excluir o sócio&nbsp; {{ socio.nome }}</strong></h6>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirma Exclusão</button>
                        <a href="{% url 'gestao_socios' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}