{% extends "base.html" %}
{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="centro col-sm-12">
            <div class="table-principal">
                <div class="alert titulo" role="alert">
                    <h3><strong>Gerenciamento do Quadro Social</strong></h3>
                </div>
                <div id="tabela">
                    <form method="POST" action="">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab"
                                    data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1"
                                    aria-selected="true">Sócios</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2"
                                    type="button" role="tab" aria-controls="tab2"
                                    aria-selected="false">Dependentes</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3"
                                    type="button" role="tab" aria-controls="tab3"
                                    aria-selected="false">Mensalidades</button>
                            </li>
                        </ul>
                        <input type="hidden" id="activeTab" name="activeTab" value="tab1">
                    </form>
                    <div class="tab-content mt-4" id="myTabContent">
                        <!-- Tabela de Sócios -->
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab"
                            style="margin: 8px;">
                            <hr>

                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    <a href="{% url 'home' %}" class="btn btn-secondary ">Voltar pagina inicial</a>
                                </div>

                                <div>
                                    {% include 'parciais/pesquisa.html' %}
                                </div>
                            </div>

                            <table class="table table-striped table-hover table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-start">Nome</th>
                                        <th>Email</th>
                                        <th>Telefone</th>
                                        <th>Cidade</th>
                                        <th class="text-center">Tipo</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for socio in socios %}
                                    <tr>
                                        <td>{{ socio.nome }}</td>
                                        <td>{{ socio.email }}</td>
                                        <td>{{ socio.telefone }}</td>
                                        <td>{{ socio.cidade }}</td>
                                        <td class="text-center">{{ socio.get_tipo_socio_display }}</td>

                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6">Nenhum sócio encontrado.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include 'parciais/paginador.html' %}
                        </div>

                        <!-- Tabela de Dependentes -->

                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab"
                            style="margin: 8px;">
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    <a href="{% url 'gerenciamento' %}" class="btn btn-secondary ">Voltar</a>

                                </div>
                                <div>
                                    {% include 'parciais/pesquisa.html' %}
                                </div>
                            </div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nome Dependente</th>
                                        <th>Nome do Sócio</th>
                                        <th>Parentesco</th>
                                        <th class="text-center">Data de Nascimento</th>
                                        <th class="text-center">CPF</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dependente in dependentes %}
                                    <tr>
                                        <td>{{ dependente.nome }}</td>
                                        <td>{{ dependente.socio.nome }}</td>
                                        <td>{{ dependente.parentesco }}</td>
                                        <td class="text-center">{{ dependente.data_nascimento|date:'d/m/Y' }}</td>
                                        <td class="text-center">{{ dependente.cpf }}</td>

                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5">Nenhum dependente encontrado.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include 'parciais/paginador.html' %}
                        </div>
                        <!-- Tabela de mensalidades -->
                        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab"
                            style="margin: 8px;">
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'gerenciamento' %}" class="btn btn-secondary ">Voltar</a>

                                <form method="GET" action="{% url 'gerenciamento' %}"
                                    style="display: flex; align-items: center;">
                                    <input type="text" class="form-control"
                                        style="width: 150px; margin-right: 5px;  height: 30px" name="q"
                                        placeholder="Buscar por nome">
                                    <button type="submit" class="btn btn-success">Pesquisar</button>
                                </form>
                            </div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sócio</th>
                                        <th>Ano</th>
                                        <th>Meses Pagos</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mensalidade in mensalidades %}

                                    <tr>
                                        <td>{{ mensalidade.socio.nome }}</td>
                                        <td>{{ mensalidade.ano }}</td>
                                        <td>{{ mensalidade.get_meses_pagos|join:" - " }}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include 'parciais/paginador.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}